
body {
  margin: auto;
  margin-top: 1rem;
  width: 95%;
  border: 3px solid darkgray;
  padding: 10px;
  background-color: rgb(93, 109, 126);
  /*lightslategray;*/
}

#center {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid darkgray;
  text-align: center;
  width: 30%;
  background-color: lightslategray;
}


.btn-success {
  background-color: #ade8f4;
  color: black;
  height: 4em;
  width: 9em;
}

#button0 {
  background-color: #ef2917;
}

#button1 {
  background-color: #ef8a17;
}

#button2 {
  background-color: #c6c013;
}

#button3 {
  background-color: #008148;
}

#button4 {
  background-color: #034732;
}

#table-headline0 {
  color: #ef2917;
}

#table-headline1 {
  color: #ef8a17;
}

#table-headline2 {
  color: #c6c013;
}

#table-headline3 {
  color: #008148;
}

#table-headline4 {
  color: #034732;
}

.addedItemsTd {
  background-color: lightslategray;
}

#inputTd {
  color: limegreen;
}



